.body-div{
    height: 100vh;
      width: 100%;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      overflow: hidden;
  }
  .container_dashboard{
    margin-top: 60px;
  }
  .dashboard_main_div {
    flex-grow: 1;
    padding: 20px;
  }
  .dashboard_div_rq {
    background-color: #fff;
    padding: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
    height: 450px;
    overflow: auto;
    width: 100%;
    margin: 0% 10%;
  }
  .qrdetails_main_details{
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 50%;
    height: auto;
    margin: 0% 30%;
    border-radius: 10px;
}
.qrdetails_1 h2{
    font-size: 15px;
    text-align: center;
}
.qr_btn{
    margin-top: 10px;
}
.qr_btn button{
    padding: 10px 15px;
    color: #ffffff;
    background-color: darkblue;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}
.popup_images_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.popup_image_item img {
    max-width: 100px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.popup_image_item {
  position: relative;
  margin: 10px;
}
.view_popup_div_main h2{
  font-size: 15px;
}
.popup_images_grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
.popup_image_item img {
  max-width: 100px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.popup_image_item {
position: relative;
margin: 10px;
}
