.footer {
 background: url('../images//footer.png') no-repeat center center;
  background-size: cover;
  background-color: #00008be8;
  color: #fff;
  padding: 40px 20px;
  font-family: sans-serif;
   position: relative;
}


.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1 1 250px;
  margin: 10px;
}

.footer-logo {
  width: 100%;
  margin-bottom: 10px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #ccc;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.contact-details p a {
  margin-bottom: 0px;
  color: #fff;
  font-size: 15px;
  line-height: 23px;
  text-decoration: none;
}
.contact-details h2{
  font-size: 18px;
  color: #fff;
  margin-left: 26px;
}
.phone-loc{
  margin-top: -45px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 30px;
  }

  .footer-logo {
    margin: 0 auto 10px;
  }
  .footer-section {
  flex: 1 1 65px;
  margin: 10px;
}

}


.contact-details p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #fff;
  font-size: 15px;
  line-height: 1.6;
}

.contact-details svg,
.contact-details .phone-iconss {
  margin-right: 10px;
  font-size: 18px;
  min-width: 20px;
}
  .footer-section ul li a{
    text-decoration: none;
    color: #fff;
    display: block;
      transition: all 0.3s ease;
  }
    .footer-section ul li a:hover{
    color: #fff;
    margin-left: 10px;
    }

    .footer-bottom {
  text-align: center;
  padding: 20px 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 14px;
  color: #fff;
  margin-top: 20px;
}

.footer-bottom strong {
  color: #ffffff;
}

@media (max-width: 768px) {
  .footer-bottom {
    font-size: 9px;
    padding: 0px 5px 0;
    line-height: 1.6;
  }
}
