.terms_maathagi_div{
     background-image: url(../images//terms.jpg);
    background-size: cover;
    background-position: calc(100%);
    width: 100%;
    height:90vh;
}
.terms_condition_main_div{
    padding: 50px;
}
.terms_condition_main_div_1 h2{
    font-size: 25px;
    color: var( --themeht-secondary-color);
}
.terms_condition_main_div_1 h1{
      color: var( --themeht-secondary-color);
}
.terms_condition_main_div_1 p{
     font-size: 16px;
    line-height: 1.9;
    text-align: justify;
}


/* Mobile view CSS */
@media (max-width: 768px) {
    .terms_maathagi_div {
        height: 50vh;
        background-position: center;
    }

    .terms_condition_main_div {
        padding: 20px;
    }

    .terms_condition_main_div_1 h2 {
        font-size: 20px;
        text-align: center;
    }

    .terms_condition_main_div_1 h1 {
        font-size: 22px;
        text-align: center;
    }

    .terms_condition_main_div_1 p {
        font-size: 14px;
        line-height: 1.7;
        text-align: justify;
    }
}